{% extends "base.html.twig" %}

{% block title %}Satmaster Graber{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    <script src="/js/index.js"></script>
{% endblock %}